.pillar-page {
  height: 450px;
}

.pillar-page .pillar-container {
  padding: 0 10px;
  overflow-x: hidden;   /* Need this for animation containment */
  overflow-y: visible;  /* Need this for animation containment */
}

.pillar-page .pillar-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.pillar-page .pillar-content {
  flex: 1;
}

.pillar-page .pillar-content > h3 {
  line-height: 0.2;
  color: #38a9f6;
  text-shadow: 0 4px 6px rgba(50,50,93,.11),
  0 1px 3px rgba(0,0,0,.08);
}

.pillar-page .pillar-photo-container {
  flex: 1;
  overflow: hidden;
  border: none;
}

.pillar-page .pillar-photo {
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  max-height: 350px;
  object-position: 50% 50%;
  object-fit: contain;
  -webkit-filter: drop-shadow(0 2px 3px rgba(50,50,93,.28));
          filter: drop-shadow(0 2px 3px rgba(50,50,93,.28));
}

.pillar-page .lighten {
  -webkit-filter: drop-shadow(0 2px 3px rgba(50,50,93,.28)) brightness(1.2);
          filter: drop-shadow(0 2px 3px rgba(50,50,93,.28)) brightness(1.2);
}

.pillar-page .image-placeholder {
  border: 2px solid grey;
}

/*  Pillar Carousel animation  */
.pillar-page .carousel-container {
  width: 100%;
  overflow-x: hidden;   /* Need this (double) for animation containment */
  overflow-y: visible;  /* Need this (double) for animation containment */
}

.pillar-page .carousel-swap-leave {
  transition: transform .85s ease-in-out;
  transform: translate(0, 0);
}
.pillar-page .carousel-swap-leave-active {
  transform: translate(-100%, 0);
}

.pillar-page .carousel-swap-enter {
  transition: transform .85s ease-in-out;
  transform: translate(100%, 0);
}
.pillar-page .carousel-swap-enter-active {
  transform: translate(0, 0);
}

.pillar-page .carousel-swap-height {
  transition: height 1.5s ease-in-out;
}
