.splash-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  width: 100vw;
}

.splash svg {
  width: 70vw;
}

.splash svg.filter {
  -webkit-filter: drop-shadow(2px 2px 3px rgba(51,51,51,0.3));
  filter: drop-shadow(2px 2px 3px rgba(51,51,51,0.3));
}

.splash .st0,
.splash .st2,
.splash .center-circle {
  stroke-width: 5;
  transform: translateX(500px);
  stroke-miterlimit:10;
}

.splash .st0 {
  fill: rgba(51,51,51,0);
  stroke: rgb(51,51,51);
}

.splash .st2 {
  fill: rgba(30,144,255,0);
  stroke: rgb(30,144,255);
}

.splash .center-circle {
  fill: rgba(51,51,51,0);
}

.splash .title {
  fill: rgba(30,144,255,0);
}

.splash .fade-in {
  transition: 1.5s ease-in-out;
  transform: translateX(0px);
}

.splash .st0.fade-in {
  fill: rgba(51,51,51,1);
}

.splash .st2.fade-in {
  fill: rgba(30,144,255,1);
}

.splash .center-circle.fade-in {
  fill: rgba(30,144,255,1);
}

.splash .title.show {
  transition-delay: 1.5s;
  transition: 3s;
  fill: rgba(51,51,51,1);
}
