.body-content {
  text-align: center;
  margin-top: 20%;
}

.app-header {
  text-align: center;
  font-size: 13vw;
}
.content {
  width: 75%;
  font-size: 17px;
  height: 300px;
  margin-top: 17%
}

.menu {
  width: 40%;
  padding-left: 15px;
  font-size: 22px;
}

#logo {
  width: 100%;
}

ul {
    list-style: none;
    text-align: left;
}

#contact {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

#contact > a {
  z-index: 10;
  transition: .25s;
}

#contact > a:hover {
  cursor: pointer;
  transform: translateY(-4px);
}

.contact-logo {
  height: 70px;
}


/* meetup logo is a little smaller looking because of splatters */
.contact-logo.small {
  height: 105px;
  transform: translateY(-18px);
}
