#logo {
  width: 100%;
}

ul {
    list-style: none;
    text-align: left;
}


.app-splash-container {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}

.app-layout-container {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.app-layout-container h2 {
  text-align: center;
}

.app-layout-container hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #313131;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}

.body-content {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
}

@media(max-width: 576px) {
  .body-content {
    max-width: 70%;
  }
}

.app > .fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 750ms linear;
}

.app > .fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 250ms, opacity 500ms linear;
}

.hide {
  display: none;
}
