.app-header {
  text-align: center;
  font-size: 13vw;
}

.body-content {
  text-align: center;
  margin-top: 20%;
}

.content {
  width: 75%;
  font-size: 17px;
  height: 300px;
  margin-top: 17%
}

#logo {
  width: 100%;
}

.menu {
  width: 40%;
  padding-left: 15px;
  font-size: 22px;
}

.scrollbar {
    background-color: #F5F5F5;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
       overflow-y: scroll;
}

ul {
    list-style: none;
    text-align: left;
}
