@media screen
  and (max-width: 1100px) {

    .pillar-page {
      height: 520px;
    }

  }

  @media screen
    and (max-width: 805px) {

      #page-selector-container {
        width: 80%;
      }

      .pillar-content > h3 {
        font-size: 1.6rem;
      }

      .social-container {
        width: 30%;
      }

      .social-logo {
        width: 50px;
      }

    }

@media screen
  and (max-width: 650px) {

    .container {
      width: 100%;
    }

    /*  Header */
    .header-div {
      min-height: 300px;
    }

    #header-logo-name {
      display: none;
    }

    /* About section */

    #about {
      width: 90%;
    }

    .linebreak {
      width: 85%;
    }

    /* Page Selector */

    #page-selector-container {
      width: 90%;
      margin-bottom: 1rem;
    }

    .page-button {
      width: 100px;
    }


    /* Pillar Section */

    .pillar-page {
      height: 700px;
    }

    .pillar-content-container {
      flex-direction: column;
    }

    .pillar-content {
      padding: 0 10px;
    }

    .pillar-content > h3 {
      text-align: center;
    }

    .image-placeholder {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    /* Footer */

    .footer {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    #footer-logo-tagline {
      bottom: unset;
      right: unset;
      position: relative;
      display: block;
      width: 90%;
      min-width: 90%;
      margin: 10px auto 20px;
      order: 2;
    }

    .social-container {
      bottom: unset;
      left: unset;
      position: relative;
      margin: 10px auto 10px;
      width: 90%;
      min-width: 90%;
    }

    .social-logo {
      width: 50px;
    }

  }
